.banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    &__item {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        @include min-lg {
            padding-bottom: 19.258rem;
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        transition: all 0.5s;
        &--max {
            display: none !important;
        }
        &--min {
            display: flex !important;
        }
        @include min-xl {
            &--max {
                display: flex !important;
            }
        }
        @include min-xl {
            &--min {
                display: none !important;
            }
        }
    }
    @include max-lg {
        background-image: none;
    }
    &__small {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    @include min-lg {
        height: 92.4rem;
    }
    height: 41.2rem;
    &__small {
        @include min-lg {
            display: none;
        }
    }
    &__button {
        @include max-ss(1600px) {
            top: calc(100% - 10rem);
            z-index: 80;
            transform: translateY(0);
        }
        @include max-lg {
            top: 45%;
            transform: translateY(-50%);
            left: 1.5rem;
            width: 3.5rem;
            height: 3.5rem;
            & svg {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
        &:hover svg {
            transform: scale(1.3);
            transition: all 0.9s;
        }
        &:hover {
            transition: all 0.3s;
            background-color: $color-red-bold;
            border: 1px solid $color-red-bold;
        }
        width: 5.4rem;
        overflow: hidden;
        z-index: 9999;
        height: 5.4rem;
        border-radius: 100rem;
        position: absolute;
        top: 45%;
        left: 2.4rem;
        transform: translateY(-50%);
        @include flexJustifyAlign(center, center);
        border: 1px solid #ffffff;
    }
    &__wrapper {
        @include flexJustifyAlign(flex-start, end);
        height: 100%;
        @include max-lg {
            display: none;
        }
    }
    &__main {
        @include min-ss(1500px) {
            margin-left: 1.65rem;
        }
        h1 {
            font-family: "Oswald";
            font-style: normal;
            font-weight: 500;
            font-size: 5rem;
            line-height: 6.4rem;
            color: #ffffff;
            text-shadow: 0rem 0.4rem 1.1rem #000000;
            height: 16.1rem;
        }
        p {
            max-width: 49.5rem;
            padding-top: 0.4rem;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.8rem;
            color: #ffffff;
            text-shadow: 0rem 0.4rem 1.1rem #000000;
            margin-bottom: 3.242rem;
        }
        a {
            background: rgba(255, 87, 87, 0.5);
            border: 0.1rem solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28.4rem;
            height: 7.6rem;
            font-style: normal;
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 2.8rem;
            color: #ffffff;
        }
    }
}
