.breadcrumb {
    margin: 2.2rem auto 5.7rem auto;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        li {
            border-right: 0.1rem solid $color-red-bold;
            padding-right: 2rem;
            padding-left: 1rem;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            @include min-lg {
                font-size: 1.8rem;
                line-height: 4rem;
            }
            a {
                color: $color-gray-bold;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    &__active {
       color: $color-red-bold !important;
    }
}