.business__area {
    // &-- {
    //     // overflow: hidden;
    // }
    margin-top: -3rem;
    margin-left: -1rem;
    margin-bottom: 3rem;
    @include min-lg {
        margin-bottom: 19rem;
    }
    &--container {
        @include max-ss(1440px) {
            padding: 0rem 3rem 0rem 6rem;
        }
        @include min-xl {
            padding: 0rem 3rem 0rem 6rem;
        }
        @include flexJustifyAlign(flex-start, center);
        transition: margin-left 1s;
        overflow: scroll;
        @include min-xl {
            height: 67.5rem;
        }
    }
    &--main {
        margin-left: 24.6rem;
        @include max-ss(1440px) {
            margin-left: 0rem;
        }
    }
    &--left {
        width: 28.6rem;
        margin-top: 6rem;
        flex-shrink: 0;
        &--top {
            margin-top: -8.5rem;
            transform: translateY(6.5rem);
            font-family: "Oswald";
            font-style: normal;
            font-weight: 400;
            font-size: 4rem;
            line-height: 6.1rem;
            &--dark {
                color: $color-gray-bold;
            }
            &--light {
                color: $color-red-bold;
            }
        }
        &--center {
            transform: translateY(6rem);
            @include flexJustifyAlign(flex-start, center);
            margin-left: -5.2rem;
            margin-top: -4rem;
            padding-top: 2.8rem;
            svg {
                margin-right: 0.3rem;
            }
            &--light {
                display: block;
                background-color: $color-red-bold;
                width: 1.9rem;
                height: 0.3rem;
            }
            &--dark {
                display: block;
                background-color: $color-gray;
                width: 3rem;
                height: 0.1rem;
            }
        }
        &--title {
            margin-top: 5rem;
            padding-top: 3rem;
            padding-bottom: 4rem;
            font-style: normal;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2.6rem;
            width: 29rem;
            text-align: left;
            color: $color-gray-bold;
        }
        &--footer {
            @include flexJustifyAlign(flex-start, center);
            gap: 1rem;
            margin-left: 0.5rem;
            span {
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: #242424;
            }
        }
    }
    &--wrapper-- {
        padding-top: 3rem;
        flex: 1;
        overflow: scroll;
    }
    &--content {
        width: 100%;
        margin-left: 5.867rem;
        display: flex;
    }
    &--item {
        // @include min-xl {
        //     margin-top: -12rem;
        // }
        padding: 0.7rem;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 50%;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     background-color: $color-red-bold;
        //     top: 0.516rem;
        //     z-index: 100;
        //     height: 1.032rem;
        // }
        &--hover {
            position: absolute;
            width: 45%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            background-color: $color-red-bold;
            top: 0.35rem;
            z-index: 10;
            padding: calc(1.032rem / 2) 0rem;
            height: 1.032rem;
            transform-origin: top;
            transition: all 1s;
            &--container {
                position: absolute;
                z-index: 888;
                bottom: 1.2rem;
                opacity: 0;
                left: 0;
                transition: opacity 0.6s;
            }
            &--more {
                margin-bottom: 5.1rem;
                padding-left: 4.1rem;
                @include flexJustifyAlign(flex-start,center);
                gap: 1.5rem;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    color: #ffffff;
                }
            }
            &--yellow  {
                @include flexJustifyAlign(center,center);
                width: 250%;
                div {
                    width: 16.3rem;
                    height: 1.1rem;
                    margin: 0rem auto 1.2rem auto;
                    background-color: #FFEF00;
                }
            }
        }
        &:hover {
            &::before {
                display: none;
            }
        }
        &:hover &--hover {
            width: 100%;
            top: 0;
            left: 0;
            transform: scaleY(1);
            height: 68rem;
            z-index: -100;
        }
        &:hover &--hover--container {
            opacity: 1;
            transition: all 0.6s;
        }
        &:hover &--title {
            color: #ffffff;
        }
        &:hover &--top {
            background-size: 100% 100%;
        }
        position: relative;
        width: 40.6rem;
        margin-right: 6.989rem;
        flex-shrink: 0;
        &--top {
            padding: 8.772rem 0rem;
            background: linear-gradient(to right, #c4c4c4 0.1rem, transparent 0.1rem) 0 0,
                linear-gradient(to left, #c4c4c4 0.1rem, transparent 0.1rem) 100% 0,
                linear-gradient(to bottom, #c4c4c4 0.1rem, transparent 0.1rem) 0 0,
                linear-gradient(to bottom, #c4c4c4 0.1rem, transparent 0.1rem) 100% 0;
            background-repeat: no-repeat;
            background-size: 25% 100%;
            @include flexJustifyAlign(center, center);
            transition: background-size 1s;
        }
        &--title {
            position: relative;
            z-index: 10;
            font-family: "Oswald";
            font-style: normal;
            font-weight: 500;
            font-size: 2.7rem;
            line-height: 4.8rem;
            display: flex;
            transform: translateY(-1.2em);
            padding: 0rem 2.226rem;
            align-items: center;
            text-align: center;
            color: $color-red-bold;
        }
        &--image {
            position: relative;
            z-index: -100;
            transform: translateY(4rem);
            padding: 2.226rem;
            img {
                width: 100%;
            }
        }
    }
}

.business-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.2rem;
    @include max-xl {
    }
    @include min-xl {
        height: 91.9rem;
    }
    &__item {
        overflow: hidden;
        cursor: pointer;
        @include min-ss(1140px) {
            width: 25%;
        }
        @include max-lg {
            width: 50%;
        }
        @include max-sm {
            width: 100%;
        }
        position: relative;
        height: 100%;
        &--image {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }
        &--hover {
            background: linear-gradient(14.18deg, #B60000 1.39%, rgba(182, 0, 0, 0) 104.85%);
            position: absolute;
            transform: scale(0);
            transform-origin: bottom left;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: all 0.3s;
        }
        &:hover &--hover {
            transform: scale(1);
        }
        &:hover &--content {
            &--title {
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            &--info {
                display: flex;
                transform: scale(1);
            }
            &--end {
                display: block;
            }
        }
        &--content {
            z-index: 20;
            @include flexJustifyAlign(center,flex-end);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            bottom: 0;
            right: 0;
            &--top {
                text-align: center;
                svg {
                    width: 9.769rem;
                    height: 7.844rem;
                }
                transition: all 0.3s;
            }
            &--title {
                height: 11.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 500;
                font-size: 2.7rem;
                line-height: 4.8rem;
                color: #FFFFFF;
                margin: auto;
                max-width: 26rem;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-top: 7.156rem;
                margin-bottom: 5.281rem;
                transition: all 0.3s;
            }
            &--info {
                display: none;
                padding: 0rem 4.3rem;
                height: 11.7rem;
                align-items: center;
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                text-align: justify;
                color: #ffffff;
                transform: scale(0);
                line-height: 2.6rem;
                transition: all 0.3s;
            }
            &--end {
                @include min-ss(1100px) {
                    margin-top: 1rem;
                }
                @include min-ss(1200px) {
                    margin-top: 0rem;
                }
                display: none;
                text-align: center;
                color: #ffffff;
                font-style: normal;
                font-weight: 300;
                font-size: 1.8rem;
                line-height: 2.8rem;
                margin-bottom: 2.084rem;
                transition: all 0.3s;
            }
        }
    }
}

.business-area-detail {
    @include min-ss(1500px) {
        margin: 2.9rem 23.8rem 0rem 23.8rem;
    }
    &__title {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 8rem;
        color: $color-gray-bold;
        &--main {
            padding: 7rem 0rem 4rem 0rem;
        }
        &--child {
            padding: 6.4rem 0rem;
        }
    }
}
