.detail {
    max-width: 1035px;
    &__top {
        margin-top: 3rem;
        width: 100%;
        position: relative;
        margin-bottom: 2rem;
        &--right {
            height: 38.7rem;
            @include min-lg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 90%;
                padding: 4rem;
            }
            padding: 2rem;
            background-color: #ffffff;
            @include min-lg {
                &::before {
                    content: "";
                    top: 0;
                    left: 0%;
                    width: 20%;
                    filter: blur(4px);
                    height: 38.7rem;
                    opacity: 0.8;
                    position: absolute;
                    background-color: $color-gray;
                }
            }
            &--content {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(to right, $color-red-bold 0.2rem, transparent 0.2rem) 0 0,
                    linear-gradient(to left,  $color-red-bold 0.2rem,transparent 0.2rem) 100% 100%,
                    linear-gradient(to bottom,  $color-red-bold 0.2rem, transparent 0.2rem) 0 0,
                    linear-gradient(to top,  $color-red-bold 0.19rem, transparent 0.2rem) 100% 100%;
                    background-repeat: no-repeat;
                    background-size: 20% 12%;
                    transform: scale(1.09,1.02);
                }
            }
            &--title {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 400;
                font-size: 4rem;
                line-height: 6.3rem;
                color: $color-red-bold;
                margin-bottom: 3.6rem;
            }
            &--info {
                font-style: normal;
                font-weight: 300;
                font-size: 1.8rem;
                line-height: 2.8rem;
                color: $color-gray-bold;
                width: 44.4rem;
                padding-bottom: 1rem;
            }
        }
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $color-gray-bold;
        margin-bottom: 2.8rem;
    }
}