.header {
    background-color: $color-red-bold;
    &__item--mobile {
        @include min-ss(1150px) {
            display: none;
        }
        color: #ffffff;
        font-size: 3.2rem;
    }
    &__main {
        display: flex;
        align-items: center;
    }
    &__logo {
        @include max-ss(1150px) {
            flex: 1;
            img {
                margin: auto;
            }
        }
        margin-right: 12.6rem;
        @include max-ss(1368px) {
            margin-right: 1.2rem;
        }
    }
    &__menu {
        @include max-ss(1150px) {
            display: none;
            &--top {
                position: relative;
                padding: 3rem 1.6rem !important;
                border-bottom: 0.1rem solid $color-gray;
                &--close {
                    font-weight: 600;
                    font-size: 3rem;
                    position: absolute;
                    color: $color-gray-bold;
                    cursor: pointer;
                    top: 1.5rem;
                    right: 2rem;
                }
            }
            width: 32rem;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            background-color: #ffffff
        }
        @include min-ss(1150px) {
            &--top {
                display: none !important;
            }
            @include flexJustifyAlign(center, center);
        }
        li {
            @include min-ss(1150px) {
                padding: 3.6rem 0rem;
                margin-right: 2.8rem;
            }
            @include max-ss(1150px) {
                padding: 1rem;
            }
            a {
                font-weight: 400;
                font-style: normal;
                font-size: 1.5rem;
                position: relative;
                display: block;
                line-height: 2.8rem;
                @include max-ss(1150px) {
                    color: rgba(0, 0, 0, 0.80);
                    &:hover {
                        color: $color-red-bold;
                    }
                }
                @include min-ss(1150px) {
                    color: rgba(255, 255, 255, 0.85);
                    &:hover {
                        color: white;
                        &::before {
                            width: 5rem;
                            height: 0.3rem;
                            animation: menu-hover 0.5s;
                        }
                    }
                    @keyframes menu-hover {
                        0% {
                            width: 0rem;
                        }
                        50% {
                            width: 8rem;
                            transform: translateX(-1.5rem);
                        }
                        100% {
                            width: 5rem;
                            transform: translateX(-0rem);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        margin-top: 0.5rem;
                        width: 0rem;
                        height: 0rem;
                        background-color: white;
                    }
                }
            }
        }
    }
    &__right {
        @include min-ss(1150px) {
            flex: 1;
        }
        @include min-ss(1368px) {
            &:hover {
                border: 1px solid #ffffff;
                border-radius: 0.5rem;
                padding: 0.35rem;
            }
        }
        display: flex;
        justify-content: end;
        @include max-ss(1368px) {
            flex-direction: column;
            gap: 1rem;
            text-align: right;
        }
        &--call {
            @include max-ss(1368px) {
                margin-left: auto;
                margin-right: 0rem;
            }
            &:hover {
                width: 20rem;
            }
            &:hover span {
                visibility: visible;
                width: auto;
                margin-right: 2.8rem;
                transition: none;
            }
            transition: border .5s;
            margin-right: 1.7rem;
            background-color: #ffffff;
            border-radius: 0.3rem;
            width: 7.174rem; 
            height: 3.864rem;
            @include flexJustifyAlign(center,center);
            span {
                display: block;
                width: 0rem;
                visibility: hidden;
                background-color: #ffffff;
                color: $color-red-bold;
                font-family: "Oswald";
                font-weight: 600;
                font-size: 2.3rem;
                line-height: 3.409rem;
            }
        }
        &--search {
            @include max-ss(1368px) {
                margin-left: auto;
            }
            background-color: #ffffff;
            border-radius: 0.3rem;
            width: 7.174rem; 
            height: 3.864rem;
            @include flexJustifyAlign(center,center);
        }
    }
}
