.near__footer {
    overflow: hidden;
    width: 100%;
    @include max-ss(640px) {
        height: 130vh;
    }
    @include min-ss(550px) {
        height: 130vh;
    }
    @include min-ss(880px) {
        height: 66.7rem;
    }
    margin-bottom: 7.2rem;
    position: relative;
    &--main {
        width: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #e61717;
        mix-blend-mode: overlay;
    }
    &--content {
        @include max-ss(1550px) {
            padding: 0rem 3.5rem;
        }
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        @include min-ss(1550px) {
            margin-left: 24.4rem;
        }
        @include min-ss(880px) {
            @include flexJustifyAlign(flex-start, center);
        }
        &--main {
            margin-top: 6.862rem;
            padding-bottom: 5.862rem;
            display: flex;
            gap: 7.46rem;
            transition: all 0.5s;
        }
        &--left {
            @include max-lg {
                padding-top: 4rem;
            }
            @include min-lg {
                transform: translateY(-1.6rem);
            }
            @include min-ss(880px) {
                width: 39.7rem;
                margin-right: 11.4rem;
                padding-top: 0rem;
            }
            &--center {
                @include flexJustifyAlign(flex-start, center);
                // margin-left: -3rem;
                transform: translateY(-1rem);
                svg {
                    margin-right: 0.3rem;
                }
            }
            &--title {
                margin-top: -0.6rem;
                padding-left: 3.8rem;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 400;
                font-size: 4rem;
                line-height: 6.1rem;
                color: #ffffff;
            }
            &--info {
                @include min-lg {
                    transform: translate(3.8rem,-1rem);
                }
                padding-top: 2.331rem;
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $color-gray;
                @include min-ss(880px) {
                    width: 26.5rem;
                }
                text-align: left;
            }
            &--title--main {
                transform: translateY(2rem);
                padding-left: 3.8rem;
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $color-gray;
            }
            &--name {
                transform: translateY(2.8rem);
                padding-left: 3.8rem;
                font-style: normal;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: #ffef00;
            }
        }
        &--right {
            flex: 1;
            overflow: hidden;
        }
        &--pagination {
            @include max-ss(880px) {
                @include flexJustifyAlign(center, center);
            }
            @include min-ss(880px) {
                @include flexJustifyAlign(flex-start, center);
            }
            @include min-xl {
                @include flexJustifyAlign(center, center);
            }
            gap: 2.4rem;
            li {
                cursor: pointer;
                span {
                    display: flex;
                    width: 1.024rem;
                    height: 1.024rem;
                    border-radius: 100rem;
                    background-color: rgba(255, 255, 255, 0.45);
                }
            }
            &--active {
                width: 1.898rem;
                height: 1.898rem;
                border-radius: 100rem;
                @include flexJustifyAlign(center, center);
                border: 0.1rem solid #ffffff;
                span {
                    background-color: #ffef00 !important;
                }
            }
        }
        &--item {
            transform: translateY(1rem);
            background-color: #ffffff;
            position: relative;
            cursor: pointer;
            flex-shrink: 0;
            transition: background-color 1s;
            &::before {
                z-index: 10;
                content: "";
                position: absolute;
                transform: scale(0.95);
                top: 0;
                left: 0;
                bottom: 0;
                visibility: hidden;
                right: 0;
                background: linear-gradient(to right, #ccc 2px, transparent 2px) 0 100%,
                    linear-gradient(to top, #ccc 2px, transparent 2px) 0 100%,
                    linear-gradient(to left, #ccc 2px, transparent 2px) 100% 0%,
                    linear-gradient(to bottom, #ccc 2px, transparent 2px) 100% 0%;
                background-repeat: no-repeat;
                background-size: 15% 50%;
                transition: all 0.3s;
            }
            padding: 1.4rem 1rem;
            &--image {
                position: relative;
                z-index: 99;
                width: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    transition: all 1.2s;
                }
            }
            // width: 38.4rem;
            @include min-ss(880px) {
                width: calc((100% / 3));
            }
            @include max-ss(880px) {
                width: calc((100% / 2));
            }
            @include max-sm {
                width: calc((100%));
            }
            h3 {
                transition: all 0.3s;
                padding: 0rem 2.2rem;
                padding-top: 2.3rem !important;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 500;
                transform: translateY(-0.8rem);
                font-size: 1.8rem;
                line-height: 2.8rem;
                color: $color-red-bold;
            }
            &:hover {
                background-color: $color-red-bold;
            }
            &:hover h3 {
                color: #ffffff;
                position: relative;
                z-index: 99;
            }
            &:hover p {
                color: #fefefe;
                position: relative;
                z-index: 99;
            }
            &:hover &--footer span {
                color:#ffffff;
            }
            &:hover &--footer &--continue svg path {
                fill:#ffffff;
                stroke:#ffffff;
            }
            &:hover &--image img {
                transform: scale(1.1);
            }
            &:hover {
                &::before {
                    transform: scale(0.98);
                    visibility: visible;
                    z-index: 20;
                }
            }
            &:hover &--footer &--footer--continue {
                opacity: 1;
            }
            &:hover &--footer p {
                transform: translateX(0);
            }
            & > p {
                @include flexJustifyAlign(flex-start, end);
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $color-gray;
                padding: 0rem 2.2rem;
                height: 8rem;
            }
            &--footer {
                position: relative;
                z-index: 99;
                span {
                    padding: 0rem 2.2rem;
                    padding-top: 0.7rem;
                    display: block;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2;
                    color: rgba(182, 0, 0, 0.65);
                }
                @include flexJustifyAlign(space-between, center);
                &--continue {
                    opacity: 0;
                    @include flexJustifyAlign(center, center);
                    gap: 1rem;
                    padding-right: 2.2rem;
                    transition: all 0.3s;
                    & > p {
                        transform: translateX(25%);
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1.4rem;
                        line-height: 2;
                        color: $color-gray;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}
