.news__event {
    @include min-ss(1500px) {
        margin: 0rem 25.9rem;
    }
    &__top {
        padding-top: 5.3rem;
        padding-bottom: 4.025rem;
    }
    &__content {
        @include max-lg {
            width: 100%;
        }
        @include min-lg {
            margin-top: -2.5rem;
            width: calc(100%);
        }
        overflow: unset !important;
        position: relative;
        &--main {
            width: 100%;
            display: flex;
            gap: 4.2rem;
        }
        &--child {
            @include max-sm {
                width: 100%;
            }
            flex-shrink: 0;  
            @include min-sm {
                padding-right: 3rem;
                width: calc((100% / 2) - 1.5rem);
            }
            @include min-xl {
                padding-right: 8.4rem;
                width: calc((100% / 3));
            } 
        }
        &--second {
            @include max-sm {
                width: 100%;
            }
            // flex-shrink: 0;  
            @include min-sm {
                padding-right: 3rem;
                width: calc((100% / 2) - 1.5rem);
            }
            @include min-xl {
                padding-right: 5.3rem;
                width: calc((100% / 3));
                margin-bottom: 5rem;
            } 
        }
        &--item { 
            position: relative;
            cursor: pointer;
            &::before {
                z-index: -9;
                content: "";
                position: absolute;
                transform: scale(0.98);
                top: 0;
                left: 0;
                bottom: 0;
                visibility: hidden;
                right: 0;
                background: linear-gradient(to right, #ccc 2px, transparent 2px) 0 100%,
                    linear-gradient(to top, #ccc 2px, transparent 2px) 0 100%,
                    linear-gradient(to left, #ccc 2px, transparent 2px) 100% 0%,
                    linear-gradient(to bottom, #ccc 2px, transparent 2px) 100% 0%;
                background-repeat: no-repeat;
                background-size: 15% 50%;
                transition: all 0.3s;
            }
            &--red {
                position: relative;
                z-index: 99;
                transition: all 0.3s;
                padding: 0rem 2.2rem;
                padding-top: 2.3rem !important;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.8rem;
                color: $color-red-bold;
            }
            padding: 1.2rem 0.8rem;
            &--image {
                width: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    transition: all 1.2s;
                }
            }
            &--images {
                width: 100%;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    &:nth-child(1) {
                        z-index: 1;
                        position: relative;
                    }
                    &:nth-child(2) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                }
                &:hover img {
                    &:nth-child(1) {
                        z-index: 3;
                    }
                }
            }
            // width: 38.4rem;
            h3 {
                position: relative;
                z-index: 99;
                transition: all 0.3s;
                padding: 0rem 2.2rem;
                padding-top: 2.3rem !important;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.8rem;
                color: #686868;
            }
            &:hover h3 {
                color: $color-red-bold;
            }
            &:hover &--text {
                color: $color-gray-bold;
            }
            & > p {
                position: relative;
                z-index: 99;
                @include flexJustifyAlign(flex-start, end);
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 1.75;
                // color: #000000;
                padding: 0rem 4rem 0rem 2rem;
                height: 8rem;
            }
            &--footer {
                position: relative;
                z-index: 99;
                span {
                    padding: 0rem 2.2rem;
                    padding-top: 0.7rem;
                    display: block;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2;
                    // color: #000000;
                }
                @include flexJustifyAlign(space-between, center);
                &--continue {
                    opacity: 0;
                    @include flexJustifyAlign(center, center);
                    gap: 1rem;
                    transition: all 0.3s;
                    & > p {
                        transform: translateX(25%);
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1.4rem;
                        line-height: 2;
                        color: $color-red-bold;
                        transition: all 0.3s;
                    }
                }
            }
            &:hover &--image img {
                transform: scale(1.1);
            }
            &:hover {
                &::before {
                    transform: scale(1);
                    visibility: visible;
                }
            }
            &:hover &--footer &--footer--continue {
                opacity: 1;
            }
            &:hover &--footer p {
                transform: translateX(0);
            }
        }
        &--button {
            @include max-ss(1440px) {
                display: none;
            }
            width: 4.281rem;
            height: 4.362rem;
            border-radius: 100rem;
            position: absolute;
            top: 41%;
            transform: translateY(-50%);
            @include flexJustifyAlign(center, center);
            border: 1px solid #9b9b9b;
            z-index: 20;
            &--left {
                left: -5.5rem;
            }
            &--right {
                right: -5.5rem;
            }
            &:hover svg {
                transform: scale(1.3);
                transition: all 0.9s;
            }
            &:hover {
                transition: all 0.3s;
                background-color: $color-red-bold;
                border: 1px solid $color-red-bold;
            }
        }
    }
    &__footer {
        padding: 5.3rem 0rem 10.3rem 0rem;
        margin-top: -1.4rem;
        a {
            cursor: pointer;
            display: block;
            margin: auto;
            width: 17.4rem;
            height: 5rem;
            background-color: $color-red-bold;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 28rem;
            color: #ffffff;
            @include flexJustifyAlign(center, center);
            gap: 1.6rem;
            border: 0.3rem solid $color-red-bold;
            padding-left: 1rem;
            svg {
                width: 0rem !important;
                transition: all 0.6s;
            }
            &:hover {
                background-color: #ffffff;
                transition: all 0.3s;
                color: $color-red-bold;
            }
            &:hover svg {
                width: 3.2rem !important;
            }
        }
    }
}

.news-event {
    @include min-ss(1500px) {
        margin: 0rem auto 18.7rem auto;
    }
    &__top {
        @include min-md {
            @include flexJustifyAlign(flex-start,flex-start);
        }
        @include min-lg {
            @include flexJustifyAlign(flex-start,center);
        }
        &--left {
            @include min-md {
                width: 45rem;
            }
            @include min-lg {
                width: 70rem;
            }
            @include min-xl {
                width: 90.2rem;
            }
        }
        &--right {
            @include max-md {
                margin-top: 3rem;
            }
            @include max-md {
                padding-left: 0rem;
            }
            padding-left: 3rem;
            @include min-xl {
                padding-left: 6.863rem;
            }
            flex: 1;
            h3 {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 400;
                font-size: 2.2rem;
                line-height: 2.8rem;
                color: $color-red-bold;
                margin-bottom: 5.3rem;
            }
            &--info {
                @include min-md {
                    padding-left: 2.8rem;
                }
                h2 {
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    color: $color-gray-bold;
                    margin-bottom: 2rem;
                }
                p {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: #000000;
                }
            }
            &--footer {
                @include flexJustifyAlign(flex-end,center);
                gap: 0.5rem;
                margin-top: 4rem;
                font-style: normal;
                color: $color-red-bold;
                font-weight: 200;
                font-size: 1.4rem;
                line-height: 2.8rem;
            }
        }
        margin-bottom: 5.2rem;
    }
    &__main {
        @include min-sm {
            margin-left: -1rem;
            margin-right: -5.3rem;
        }
        display: flex;
        flex-wrap: wrap;
    }
}

.news-event-detail {
    @include min-ss(1500px) {
        margin: 2.2rem auto 5.7rem auto;
    }
    @include min-lg {
        display: flex;
    }
    &__left {
        @include min-xl {
            max-width: 79rem;
        }
        @include min-ss(1440px) {
            max-width: 98.3rem;
        }
        &--title {
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 500;
            font-size: 2.8rem;
            @include min-lg {
                font-size: 4rem;
                line-height: 5.2rem;
                margin-bottom: 2.521rem;
            }
            color: $color-red-bold;
            margin-bottom: 1.5rem;
        }   
        &--box {
            position: relative;
            width: 100%;
            @include min-lg {
                padding: 2.19rem 4.442rem 2.63rem 5.28rem;
            }
            padding: 1.6rem;
            color: $color-gray-bold;
            font-weight: 400;
            border: 0.1rem solid $color-red-bold;
            font-style: normal;
            font-size: 1.8rem;
            margin-bottom: 3.58rem;
            line-height: 4rem;
            &::before {
                content: "";
                position: absolute;
                top: -2.4rem;
                transform: rotate(225deg);
                left: -2.4rem;
                border-left: 2.4rem solid $color-red-bold;
                border-right: 2.4rem solid transparent;
                border-bottom: 2.4rem solid transparent;
                border-top: 2.4rem solid transparent;
            }
        }
        &--description {
            margin: 2.24rem 0rem 7.58rem 0rem;
            font-style: italic;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2.5rem;
            text-align: center;
            color: #000000;
        }
        &--center {
            @include flexJustifyAlign(flex-start,center);
            gap: 0.5rem;
            span {
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 4rem;
                color: $color-gray-bold;
            }
            margin-bottom: 2.142rem;
        }
        &--text {
            color: $color-gray-bold;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-bottom: 2.8rem;
        }
    }
    &__space {
        @include max-lg {
            display: none;
        }
        @include flexJustifyAlign(center,center);
        flex-direction: column;
        padding-left: 5.6rem;
        padding-right: 1rem;
        &--light {
            width: 0.3rem;
            height: 2.5rem;
            background-color: $color-red-bold;
        }
        &--dark {
            width: 0.1rem;
            flex: 1;
            background-color: $color-gray;
        }
    }
    &__right {
        @include max-lg {
            margin-top: 3rem;
        }
        &--top {
            margin-bottom: 4.3rem;
            @include min-lg {
                padding-left: 3rem;
            }
            @include flexJustifyAlign(space-between,center);
            h4 {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 500;
                font-size: 4rem;
                line-height: 1;
                color: $color-red-bold;
            }
            div {
                @include flexJustifyAlign(center,center);
                gap: 0.5rem;
                span {
                    &:nth-child(1) {
                        display: block;
                        border-left: 1rem solid transparent;
                        border-right: 1.8rem solid $color-red-bold;
                        border-bottom: 1rem solid transparent;
                        border-top: 1rem solid transparent;
                    }
                    &:nth-child(2) {
                        display: block;
                        border-left: 1.8rem solid $color-red-bold;
                        border-right: 1rem solid transparent;
                        border-bottom: 1rem solid transparent;
                        border-top: 1rem solid transparent;
                    }
                }
            }
        }
        &--item {
            @include min-lg {
                padding-left: 3rem;
            }
            display: flex;
            &--image {
                width: 15.4rem;
            }
            &--info {
                flex: 1;
                padding-left: 2.814rem;
                p {
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    color: $color-gray-bold;
                }
                span {
                    padding-top: 0.8rem;
                    display: block;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2.8rem;
                }
            }
            @include max-lg {
                margin-bottom: 2rem;
            }
        }
        &--line {
            @include max-lg {
                display: none;
            }
            margin-top: 0.2rem;
            margin-bottom: 5.3rem;
            @include flexJustifyAlign(flex-start,center);
            span {
                &:nth-child(1) {
                    width: 2.5rem;
                    height: 0.3rem;
                    background-color: $color-red-bold;
                }
                &:nth-child(2) {
                    flex: 1;
                    height: 0.1rem;
                    background-color: $color-gray;
                }
            }
        }
    }
}