.partner {
    position: relative;
    width: calc(100% - 10rem);
    height: 13rem;
    margin: auto;
    margin-bottom: 15.8rem;
    &__button {
        @include max-lg {
            display: none;
        }
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        z-index: 50;
        width: 4rem;
        height: 4rem;
        border-radius: 100rem;
        border: 0.1rem solid $color-gray;
        @include flexJustifyAlign(center,center);
        &--left {
            left: -3rem;
        }
        &--right {
            right: -7rem;
        }
        &:hover svg {
            transform: scale(1.3);
            transition: all 0.9s;
        }
        &:hover {
            transition: all 0.3s;
            background-color: $color-red-bold;
            border: 1px solid $color-red-bold;
        }
    }
    &__content {
        border: 0.1rem solid #838383;
        @include flexJustifyAlign(space-around,center);
        li {
            width: 20%;
            @include flexJustifyAlign(center,center);
            a {
                img {
                   filter: grayscale(100%);
                   object-fit: contain;
                   &:hover {
                       filter: none;
                   }
                }
            }
        }
    }
}