.report {
    @include min-md {
        margin-bottom: 13.2rem;
    }
    overflow: hidden;
    // padding-top: 2.8rem;
    margin-bottom: 6.6rem;
    height: max-content;
    @include max-lg {
        padding-right: 1rem;
        // background-image: none !important;
    }
    @include min-lg {
        overflow: hidden;
        height: 89.2rem;
    }
    position: relative;
    &__ground {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #B60000;
        mix-blend-mode: overlay;
    }
    &__content {
        margin-top: -5rem;
        @include min-lg {
            position: absolute;
        }
        width: 100%;
        margin-left: 1.9rem;
        height: 100%;
        &--top {
            padding-top: 9rem;
            transform: translate(-1.8rem,2rem);
            padding-bottom: 6.6rem;
        }
        &--main {
            margin-left: -3rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-right: -3.3rem;
        }
        &--item-- {
            @include min-xl {
                width: calc(32.8rem);
            }
            @include max-xl {
                width: calc((100% / 3) - 3.3rem);
            }
            @include max-ss(950px) {
                @include max-xl {
                    width: calc((33.3rem) - 3.3rem);
                }
            }
            margin-right: 3.3rem;
        }
        &--item {
            position: relative;
            height: 19.6rem;
            &:hover &--main {
                visibility: visible;
                transform: scaleY(1.39);
            }
            &:hover &--top {
                margin-top: -4rem;
            }
            &:hover &--end {
                margin-top: 12.5rem;
            }
            &:hover &--arrow {
                opacity: 1;
                height: 3.8rem;
                div {
                    &::before {
                        display: block;
                    }
                }
            }
            &--arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 100;
                width: 24rem;
                margin-left: -2rem;
                height: 0rem;
                opacity: 0;
                transition: opacity 0.8s;
                background-color: $color-red-bold;
                div {
                    height: 3.8rem;
                    @include flexJustifyAlign(center,center);
                    gap: 1rem;
                    span {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1.8rem;
                        line-height: 2.8rem;
                        color: #ffffff !important;
                    }
                    &::before {
                        content:"";
                        position: absolute;
                        border-bottom: 19px solid transparent;
                        border-left: 19px solid $color-red-bold;
                        border-top: 19px solid transparent;
                        height: 0px;
                        width: 0px;
                        overflow: hidden;
                        right: -19px;
                        display: none;
                    }
                }
            }
            &--main {
                transform-origin: 50% 50%;
                transition: transform 1s;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(0deg, #FFEF00, #FFEF00), #0C2F6C;
                height: 19.8rem;
                z-index: -1;
            }
            &:hover &--image path {
                stroke: #0C2F6C;
                fill: #0C2F6C;
                position: relative;
                z-index: 100;
            }
            &:hover p {
                color: #0C2F6C !important;
            }
            &:hover &--top span {
                color: #0C2F6C !important;
            }
            background-color: #ffffff;
            padding: 2.4rem;
            margin-bottom: 3.7rem;
            filter: drop-shadow(0rem 0.4rem 2.7rem $color-red);
            &--top {
                transition: all 0.5s;
                @include flexJustifyAlign(space-between,center);
                position: relative;
                z-index: 100;
                &--left {
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 4rem;
                    transform: translateY(-0.2rem);
                    line-height: 4rem;
                    color: $color-red-bold;
                }
                &--right {
                    p {
                        transform: translate(-1rem,-0.8rem);
                        text-align: center;
                        line-height: 2.4rem;
                        font-style: normal;
                        &:nth-child(1) {
                            font-weight: 400;
                            font-size: 1.4rem;
                            color: $color-gray-bold;
                        }
                        &:nth-child(2) {
                            font-weight: 600;
                            font-size: 2rem;
                            color: $color-red-bold;
                        }
                    }
                }
            }
            &--image {
                position: absolute;
                right: 0;
                top: 30%;
                z-index: 100;
            }
            &--end {
                transition: all 0.5s;
                position: relative;
                z-index: 100;
                margin-top: 5rem;
                @include flexJustifyAlign(space-between,center);
                text-align: center;
                li {
                    p {
                        line-height: 2.4rem;
                        font-style: normal;
                        &:nth-child(1) {
                            color: $color-gray-bold;
                            font-weight: 400;
                            font-size: 1.4rem; 
                            margin-bottom: 0.8rem;
                        }
                        &:nth-child(2) {
                            font-weight: 600;
                            font-size: 1.6rem;
                            color: $color-red-bold;
                        }
                    }
                }
            }
        }
    }
    &__footer {
        margin-left: -2.2rem;
        padding: 5.3rem 0rem 10.3rem 0rem;
        a {
            cursor: pointer;
            display: block;
            margin: auto;
            width: 17.4rem;
            height: 5rem;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 28rem;
            color: $color-red-bold;
            @include flexJustifyAlign(center, center);
            gap: 1.6rem;
            background-color: #ffffff;
            border: 0.3rem solid #ffffff;
            padding-left: 1rem;
            svg {
                width: 0rem !important;
                transition: all 0.6s;
            }
            &:hover {
                background-color: $color-red-bold;
                transition: all 0.3s;
                color: #ffffff;
            }
            &:hover svg {
                width: 3.2rem !important;
                path {
                    stroke: $color-gray;
                    fill: $color-gray;
                }
            }
        }
    }
}