html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "roboto";
}

*:focus {
  outline: none;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

@media all and (max-width: 1440px) {
  .wrapper {
    padding: 0rem 2rem;
  }
}

#modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.411);
  display: none;
}

.banner {
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  background-image: url("../../images/banner.png");
  height: 41.2rem;
}

@media all and (max-width: 1600px) {
  .banner {
    background-image: url("../../images/banner-desktop.png");
  }
}

@media all and (max-width: 1024px) {
  .banner {
    background-image: none;
  }
}

.banner__small {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 1024px) {
  .banner {
    padding-bottom: 19.258rem;
    height: 92.4rem;
  }
}

@media all and (min-width: 1024px) {
  .banner__small {
    display: none;
  }
}

.banner__button {
  width: 5.4rem;
  overflow: hidden;
  height: 5.4rem;
  border-radius: 100rem;
  position: absolute;
  top: 45%;
  left: 2.4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
}

@media all and (max-width: 1600px) {
  .banner__button {
    top: calc(100% - 10rem);
    z-index: 80;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media all and (max-width: 1024px) {
  .banner__button {
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }
  .banner__button svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.banner__button:hover svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.banner__button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #b60000;
  border: 1px solid #b60000;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

@media all and (max-width: 1024px) {
  .banner__wrapper {
    display: none;
  }
}

.banner__main h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #ffffff;
  text-shadow: 0rem 0.4rem 1.1rem #000000;
  height: 16.1rem;
}

.banner__main p {
  max-width: 49.5rem;
  padding-top: 0.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #ffffff;
  text-shadow: 0rem 0.4rem 1.1rem #000000;
  margin-bottom: 3.242rem;
}

.banner__main a {
  background: rgba(255, 87, 87, 0.5);
  border: 0.1rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28.4rem;
  height: 7.6rem;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #ffffff;
}

.news__event__top {
  padding-top: 5.3rem;
  padding-bottom: 4.025rem;
}

.news__event__content {
  overflow: unset !important;
  position: relative;
}

@media all and (max-width: 1024px) {
  .news__event__content {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .news__event__content {
    width: calc(100% - 10rem);
  }
}

.news__event__content--main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: -12.6rem;
}

.news__event__content--item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  cursor: pointer;
  padding: 1.2rem 0.8rem;
}

@media all and (max-width: 640px) {
  .news__event__content--item {
    width: 100%;
  }
}

@media all and (min-width: 640px) {
  .news__event__content--item {
    margin-right: 3rem;
    width: calc((100% / 2) - 1.5rem);
  }
}

@media all and (min-width: 1280px) {
  .news__event__content--item {
    margin-right: 12.6rem;
    width: calc((100% / 3) - 8.4rem);
  }
}

.news__event__content--item::before {
  z-index: -9;
  content: "";
  position: absolute;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  right: 0;
  background: linear-gradient(to right, #ccc 2px, transparent 2px) 0 100%, linear-gradient(to top, #ccc 2px, transparent 2px) 0 100%, linear-gradient(to left, #ccc 2px, transparent 2px) 100% 0%, linear-gradient(to bottom, #ccc 2px, transparent 2px) 100% 0%;
  background-repeat: no-repeat;
  background-size: 15% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news__event__content--item--image {
  width: 100%;
  overflow: hidden;
}

.news__event__content--item--image img {
  width: 100%;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.news__event__content--item h3 {
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0rem 2.2rem;
  padding-top: 2.3rem !important;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #686868;
}

.news__event__content--item:hover h3 {
  color: #b60000;
}

.news__event__content--item > p {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 0rem 2.2rem;
  height: 8rem;
}

.news__event__content--item--footer {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__event__content--item--footer span {
  padding: 0rem 2.2rem;
  padding-top: 0.7rem;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2;
}

.news__event__content--item--footer--continue {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news__event__content--item--footer--continue > p {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2;
  color: #b60000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news__event__content--item:hover .news__event__content--item--image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news__event__content--item:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

.news__event__content--item:hover .news__event__content--item--footer .news__event__content--item--footer--continue {
  opacity: 1;
}

.news__event__content--item:hover .news__event__content--item--footer p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.news__event__content--button {
  width: 4.281rem;
  height: 4.362rem;
  border-radius: 100rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #9b9b9b;
  z-index: 20;
}

@media all and (max-width: 1024px) {
  .news__event__content--button {
    display: none;
  }
}

.news__event__content--button--left {
  left: -6rem;
}

.news__event__content--button--right {
  right: -6rem;
}

.news__event__content--button:hover svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.news__event__content--button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #b60000;
  border: 1px solid #b60000;
}

.news__event__footer {
  padding: 5.3rem 0rem 10.3rem 0rem;
}

.news__event__footer a {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 17.4rem;
  height: 5rem;
  background-color: #b60000;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 28rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  border: 0.3rem solid #b60000;
  padding-left: 1rem;
}

.news__event__footer a svg {
  width: 0rem !important;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news__event__footer a:hover {
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #b60000;
}

.news__event__footer a:hover svg {
  width: 3.2rem !important;
}

.title {
  margin: auto;
}

.title__top {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 4rem;
  line-height: 2.5;
  font-style: normal;
  text-align: center;
  color: #b60000;
}

.title__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title__footer span {
  display: block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title__footer--light {
  width: calc((4.433rem / 2) - 0.4rem);
  background-color: #b60000;
  height: 0.3rem;
}

.title__footer--dark {
  width: calc((4.433rem / 2));
  height: 0.2rem;
  background-color: #c4c4c4;
}

.business__area {
  margin-top: -3rem;
  margin-left: 24.6rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media all and (max-width: 1440px) {
  .business__area {
    margin-left: 0rem;
    padding: 0rem 8rem;
  }
}

.business__area--left--top {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6.1rem;
}

.business__area--left--top--dark {
  color: #686868;
}

.business__area--left--top--light {
  color: #b60000;
}

.business__area--left--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -5.5rem;
  margin-top: -1rem;
}

.business__area--left--center svg {
  margin-right: 0.3rem;
}

.business__area--left--center--light {
  display: block;
  background-color: #b60000;
  width: 2rem;
  height: 0.3rem;
}

.business__area--left--center--dark {
  display: block;
  background-color: #c4c4c4;
  width: 2rem;
  height: 0.2rem;
}

.business__area--left--title {
  margin-top: 2.181rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 28.7rem;
  color: #686868;
}

.business__area--left--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.312rem;
  margin-top: 2.4rem;
}

.business__area--left--footer span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #242424;
}

.business__area--wrapper-- {
  padding-top: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.business__area--content {
  width: 100%;
  margin-left: 5.867rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__area--item {
  padding: 0.7rem;
  position: relative;
  width: 40.6rem;
  margin-right: 6.989rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.business__area--item::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #b60000;
  top: 0.516rem;
  z-index: 100;
  height: 1.032rem;
}

.business__area--item--hover {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #b60000;
  top: 0.516rem;
  z-index: 5;
  padding: calc(1.032rem / 2) 0rem;
  height: 1.032rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.business__area--item--hover--container {
  position: absolute;
  z-index: 888;
  bottom: 1.2rem;
  opacity: 0;
  left: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.business__area--item--hover--more {
  margin-bottom: 5.1rem;
  padding-left: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}

.business__area--item--hover--more span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #ffffff;
}

.business__area--item--hover--yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250%;
}

.business__area--item--hover--yellow div {
  width: 16.3rem;
  height: 1.1rem;
  margin: 0rem auto 1.2rem auto;
  background-color: #FFEF00;
}

.business__area--item:hover::before {
  display: none;
}

.business__area--item:hover .business__area--item--hover {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: 66rem;
  z-index: -100;
}

.business__area--item:hover .business__area--item--hover--container {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.business__area--item:hover .business__area--item--title {
  color: #ffffff;
}

.business__area--item:hover .business__area--item--top {
  background-size: 100% 100%;
}

.business__area--item--top {
  padding: 8.772rem 0rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 100% 0;
  background: linear-gradient(to right, #c4c4c4 0.1rem, transparent 0.1rem) 0 0, linear-gradient(to left, #c4c4c4 0.1rem, transparent 0.1rem) 100% 0, linear-gradient(to bottom, #c4c4c4 0.1rem, transparent 0.1rem) 0 0, linear-gradient(to bottom, #c4c4c4 0.1rem, transparent 0.1rem) 100% 0;
  background-repeat: no-repeat;
  background-size: 25% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.business__area--item--title {
  position: relative;
  z-index: 10;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 3.226rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #b60000;
}

.business__area--item--image {
  position: relative;
  z-index: -100;
  padding: 3.226rem;
}

.business__area--item--image img {
  width: 100%;
}

.business-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 91.9rem;
}

.business-area__item {
  width: 25%;
  position: relative;
}

.business-area__item--hover {
  background: linear-gradient(14.18deg, #B60000 1.39%, rgba(182, 0, 0, 0) 104.85%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.near__footer {
  overflow: hidden;
  width: 100%;
  height: 105vh;
  margin-bottom: 7.2rem;
  position: relative;
}

@media all and (min-width: 880px) {
  .near__footer {
    height: 66.7rem;
  }
}

.near__footer--main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e61717;
  mix-blend-mode: overlay;
}

.near__footer--content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media all and (max-width: 1550px) {
  .near__footer--content {
    padding: 0rem 3.5rem;
  }
}

@media all and (min-width: 1550px) {
  .near__footer--content {
    margin-left: 24.4rem;
  }
}

@media all and (min-width: 880px) {
  .near__footer--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.near__footer--content--main {
  margin-top: 6.862rem;
  padding-bottom: 5.862rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.46rem;
}

.near__footer--content--left {
  padding-top: 3rem;
}

@media all and (min-width: 880px) {
  .near__footer--content--left {
    width: 39.7rem;
    margin-right: 20.4rem;
    padding-top: 0rem;
  }
}

.near__footer--content--left--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -3rem;
  margin-top: -0.5rem;
}

.near__footer--content--left--center svg {
  margin-right: 0.3rem;
}

.near__footer--content--left--title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6.1rem;
  color: #ffffff;
}

.near__footer--content--left--info {
  padding-top: 2.331rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #c4c4c4;
  text-align: left;
}

@media all and (min-width: 880px) {
  .near__footer--content--left--info {
    width: 26.5rem;
  }
}

.near__footer--content--left--title--main {
  padding-top: 3rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #c4c4c4;
}

.near__footer--content--left--name {
  padding-top: 0.3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #ffef00;
}

.near__footer--content--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.near__footer--content--pagination {
  gap: 2.4rem;
}

@media all and (max-width: 880px) {
  .near__footer--content--pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 880px) {
  .near__footer--content--pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (min-width: 1280px) {
  .near__footer--content--pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.near__footer--content--pagination li {
  cursor: pointer;
}

.near__footer--content--pagination li span {
  display: block;
  width: 1.024rem;
  height: 1.024rem;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.45);
}

.near__footer--content--pagination--active {
  width: 1.898rem;
  height: 1.898rem;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.1rem solid #ffffff;
}

.near__footer--content--pagination--active span {
  background-color: #ffef00 !important;
}

.near__footer--content--item {
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  padding: 1.4rem 1rem;
}

.near__footer--content--item::before {
  z-index: 10;
  content: "";
  position: absolute;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  right: 0;
  background: linear-gradient(to right, #ccc 2px, transparent 2px) 0 100%, linear-gradient(to top, #ccc 2px, transparent 2px) 0 100%, linear-gradient(to left, #ccc 2px, transparent 2px) 100% 0%, linear-gradient(to bottom, #ccc 2px, transparent 2px) 100% 0%;
  background-repeat: no-repeat;
  background-size: 15% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.near__footer--content--item--image {
  position: relative;
  z-index: 99;
  width: 100%;
  overflow: hidden;
}

.near__footer--content--item--image img {
  width: 100%;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media all and (min-width: 880px) {
  .near__footer--content--item {
    width: calc((100% / 3));
  }
}

@media all and (max-width: 880px) {
  .near__footer--content--item {
    width: calc((100% / 2));
  }
}

.near__footer--content--item h3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0rem 2.2rem;
  padding-top: 2.3rem !important;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #b60000;
}

.near__footer--content--item:hover {
  background-color: #b60000;
}

.near__footer--content--item:hover h3 {
  color: #ffffff;
  position: relative;
  z-index: 99;
}

.near__footer--content--item:hover p {
  color: #fefefe;
  position: relative;
  z-index: 99;
}

.near__footer--content--item:hover .near__footer--content--item--footer span {
  color: #ffffff;
}

.near__footer--content--item:hover .near__footer--content--item--footer .near__footer--content--item--continue svg path {
  fill: #ffffff;
  stroke: #ffffff;
}

.near__footer--content--item:hover .near__footer--content--item--image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.near__footer--content--item:hover::before {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  visibility: visible;
  z-index: 20;
}

.near__footer--content--item:hover .near__footer--content--item--footer .near__footer--content--item--footer--continue {
  opacity: 1;
}

.near__footer--content--item:hover .near__footer--content--item--footer p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.near__footer--content--item > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #c4c4c4;
  padding: 0rem 2.2rem;
  height: 8rem;
}

.near__footer--content--item--footer {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.near__footer--content--item--footer span {
  padding: 0rem 2.2rem;
  padding-top: 0.7rem;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2;
  color: rgba(182, 0, 0, 0.65);
}

.near__footer--content--item--footer--continue {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding-right: 2.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.near__footer--content--item--footer--continue > p {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2;
  color: #c4c4c4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.relationship {
  width: 100%;
  gap: 9.1rem;
  margin-top: 5.6rem;
  margin-bottom: 11.8rem;
}

@media all and (min-width: 1024px) {
  .relationship {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1024px) {
  .relationship {
    height: 62.5rem;
  }
}

.relationship__left {
  overflow: hidden;
  padding: 0rem 2rem;
  position: relative;
}

@media all and (min-width: 1024px) {
  .relationship__left {
    width: 55.1rem;
  }
  .relationship__left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
    visibility: hidden;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 100%;
    background: linear-gradient(to right, #c4c4c4 0.1rem, transparent 0.1rem) 0 100%, linear-gradient(to top, #c4c4c4 0.1rem, transparent 0.1rem) 0 100%;
    background-repeat: no-repeat;
    background-size: 40% 75%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .relationship__left:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
  .relationship__left:hover .relationship__left--container::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    visibility: visible;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .relationship__left:hover .relationship__left--title {
    margin-top: 1.1rem;
    margin-bottom: 0rem;
  }
  .relationship__left:hover .relationship__left--more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (max-width: 1024px) {
  .relationship__left--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
  }
}

@media all and (max-width: 640px) {
  .relationship__left--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
}

.relationship__left--container::after {
  content: "";
  width: 1rem;
  margin-left: auto;
  position: absolute;
  margin-top: 3.6rem;
  margin-right: 2.4rem;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-right: 0.1rem solid #c4c4c4;
}

.relationship__left--title--top {
  margin-bottom: 1.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #686868;
}

.relationship__left--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 0.5rem;
  margin-bottom: 4.5rem;
}

.relationship__left--top--light {
  height: .3rem;
  background-color: #b60000;
  width: 9.4rem;
}

.relationship__left--top--dark {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0.1rem;
  background-color: #c4c4c4;
}

.relationship__left--image {
  max-width: 47.5rem;
  position: relative;
  z-index: 99;
}

.relationship__left--title {
  margin-top: 3.1rem;
  max-width: 47.5rem;
  padding: 0rem 3.2rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  position: relative;
  z-index: 99;
  color: #686868;
  margin-bottom: 2.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.relationship__left--more {
  padding: 0rem 3.2rem;
  gap: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 0.4rem;
}

@media all and (min-width: 1024px) {
  .relationship__left--more {
    display: none;
  }
}

.relationship__left--more span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #b60000;
}

.relationship__right {
  position: relative;
}

@media all and (max-width: 1024px) {
  .relationship__right {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .relationship__right {
    padding: 0rem;
    margin-left: 0.8rem;
  }
}

.relationship__right::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.1rem, #c4c4c4), color-stop(0.1rem, transparent)) 0 100%;
  background: linear-gradient(to right, #c4c4c4 0.1rem, transparent 0.1rem) 0 100%, linear-gradient(to top, #c4c4c4 0.1rem, transparent 0.1rem) 0 100%;
  background-repeat: no-repeat;
  background-size: 40% 75%;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.relationship__right--hose {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #ff023b;
  margin-bottom: 1rem;
}

.relationship__right--vnd {
  margin-bottom: 1.3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.75);
}

.relationship__right--image {
  width: 46.9rem;
}

@media all and (min-width: 768px) {
  .relationship__right--image {
    width: 68rem;
  }
}

.relationship__right--image img {
  width: 100%;
  height: 19.6rem;
}

.relationship__right--container {
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.relationship__right--container::after {
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-0.5rem, 0rem);
          transform: translate(-0.5rem, 0rem);
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-right: 0.1rem solid #c4c4c4;
}

.relationship__right--table {
  width: 100%;
  margin-top: 2.9rem;
}

.relationship__right--table tr {
  width: 100%;
}

.relationship__right--table tr td p:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #838383;
  margin-bottom: .8rem;
}

.relationship__right--table tr td p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.75);
}

.relationship__right--table tr:nth-child(1) td p:nth-child(2) {
  margin-bottom: 4.8rem;
}

.relationship__right--end {
  margin-top: 1.4rem;
  margin-bottom: 2.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  color: #838383;
}

.relationship__right--end span {
  color: #1456C9;
}

.report {
  margin-bottom: 13.2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

@media all and (min-width: 1024px) {
  .report {
    overflow: hidden;
    height: 89.2rem;
  }
}

.report__ground {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #B60000;
  mix-blend-mode: overlay;
}

.report__content {
  z-index: 99;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 1024px) {
  .report__content {
    position: absolute;
  }
}

.report__content--top {
  padding-top: 7rem;
  padding-bottom: 6.6rem;
}

.report__content--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.3rem;
}

.report__content--item-- {
  margin-right: 3.3rem;
}

@media all and (min-width: 1280px) {
  .report__content--item-- {
    width: calc(25% - 3.3rem);
  }
}

@media all and (max-width: 1280px) {
  .report__content--item-- {
    width: calc((100% / 3) - 3.3rem);
  }
}

@media all and (max-width: 950px) and (max-width: 1280px) {
  .report__content--item-- {
    width: calc((33.3rem) - 3.3rem);
  }
}

.report__content--item {
  position: relative;
  height: 19.8rem;
  background-color: #ffffff;
  padding: 2.4rem;
  margin-bottom: 3.7rem;
  -webkit-filter: drop-shadow(0rem 0.4rem 2.7rem #ff023b);
          filter: drop-shadow(0rem 0.4rem 2.7rem #ff023b);
}

.report__content--item:hover .report__content--item--main {
  opacity: 1;
  -webkit-transform: scaleY(1.4);
          transform: scaleY(1.4);
}

.report__content--item:hover .report__content--item--top {
  margin-top: -4rem;
}

.report__content--item:hover .report__content--item--end {
  margin-top: 12.5rem;
}

.report__content--item:hover .report__content--item--arrow {
  height: 3.8rem;
}

.report__content--item--arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  width: 24rem;
  margin-left: -2rem;
  height: 0rem;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  background-color: #b60000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.report__content--item--arrow span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #ffffff !important;
}

.report__content--item--main {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFEF00), to(#FFEF00)), #0C2F6C;
  background: linear-gradient(0deg, #FFEF00, #FFEF00), #0C2F6C;
  height: 19.8rem;
  z-index: -1;
}

.report__content--item:hover .report__content--item--image path {
  stroke: #0C2F6C;
  fill: #0C2F6C;
  position: relative;
  z-index: 100;
}

.report__content--item:hover p {
  color: #0C2F6C !important;
}

.report__content--item:hover .report__content--item--top span {
  color: #0C2F6C !important;
}

.report__content--item--top {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 100;
}

.report__content--item--top--left {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  color: #b60000;
}

.report__content--item--top--right p {
  text-align: center;
  line-height: 2.4rem;
  font-style: normal;
}

.report__content--item--top--right p:nth-child(1) {
  font-weight: 400;
  font-size: 1.4rem;
  color: #686868;
}

.report__content--item--top--right p:nth-child(2) {
  font-weight: 600;
  font-size: 2rem;
  color: #b60000;
}

.report__content--item--image {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 100;
}

.report__content--item--end {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 100;
  margin-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.report__content--item--end li p {
  line-height: 2.4rem;
  font-style: normal;
}

.report__content--item--end li p:nth-child(1) {
  color: #686868;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.report__content--item--end li p:nth-child(2) {
  font-weight: 600;
  font-size: 1.6rem;
  color: #b60000;
}

.report__footer {
  padding: 5.3rem 0rem 10.3rem 0rem;
}

.report__footer a {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 17.4rem;
  height: 5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 28rem;
  color: #b60000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  background-color: #ffffff;
  border: 0.3rem solid #ffffff;
  padding-left: 1rem;
}

.report__footer a svg {
  width: 0rem !important;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.report__footer a:hover {
  background-color: #b60000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
}

.report__footer a:hover svg {
  width: 3.2rem !important;
}

.report__footer a:hover svg path {
  stroke: #c4c4c4;
  fill: #c4c4c4;
}

.partner {
  position: relative;
  width: calc(100% - 10rem);
  height: 13rem;
  margin: auto;
  margin-bottom: 15.8rem;
}

.partner__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  border: 0.1rem solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1024px) {
  .partner__button {
    display: none;
  }
}

.partner__button--left {
  left: -3rem;
}

.partner__button--right {
  right: -7rem;
}

.partner__button:hover svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.partner__button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #b60000;
  border: 1px solid #b60000;
}

.partner__content {
  border: 0.1rem solid #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partner__content li {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner__content li a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: contain;
     object-fit: contain;
}

.partner__content li a img:hover {
  -webkit-filter: none;
          filter: none;
}

.header {
  background-color: #b60000;
}

.header__item--mobile {
  color: #ffffff;
  font-size: 3.2rem;
}

@media all and (min-width: 1150px) {
  .header__item--mobile {
    display: none;
  }
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 12.6rem;
}

@media all and (max-width: 1150px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__logo img {
    margin: auto;
  }
}

@media all and (max-width: 1368px) {
  .header__logo {
    margin-right: 1.2rem;
  }
}

@media all and (max-width: 1150px) {
  .header__menu {
    display: none;
    width: 32rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
  }
  .header__menu--top {
    position: relative;
    padding: 3rem 1.6rem !important;
    border-bottom: 0.1rem solid #c4c4c4;
  }
  .header__menu--top--close {
    font-weight: 600;
    font-size: 3rem;
    position: absolute;
    color: #686868;
    cursor: pointer;
    top: 1.5rem;
    right: 2rem;
  }
}

@media all and (min-width: 1150px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu--top {
    display: none !important;
  }
}

@media all and (min-width: 1150px) {
  .header__menu li {
    padding: 3.6rem 0rem;
    margin-right: 2.8rem;
  }
}

@media all and (max-width: 1150px) {
  .header__menu li {
    padding: 1rem;
  }
}

.header__menu li a {
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  position: relative;
  display: block;
  line-height: 2.8rem;
}

@media all and (max-width: 1150px) {
  .header__menu li a {
    color: rgba(0, 0, 0, 0.8);
  }
  .header__menu li a:hover {
    color: #b60000;
  }
}

@media all and (min-width: 1150px) {
  .header__menu li a {
    color: rgba(255, 255, 255, 0.85);
  }
  .header__menu li a:hover {
    color: white;
  }
  .header__menu li a:hover::before {
    width: 5rem;
    height: 0.3rem;
    -webkit-animation: menu-hover 0.5s;
            animation: menu-hover 0.5s;
  }
  @-webkit-keyframes menu-hover {
    0% {
      width: 0rem;
    }
    50% {
      width: 8rem;
      -webkit-transform: translateX(-1.5rem);
              transform: translateX(-1.5rem);
    }
    100% {
      width: 5rem;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  @keyframes menu-hover {
    0% {
      width: 0rem;
    }
    50% {
      width: 8rem;
      -webkit-transform: translateX(-1.5rem);
              transform: translateX(-1.5rem);
    }
    100% {
      width: 5rem;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  .header__menu li a::before {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    width: 0rem;
    height: 0rem;
    background-color: white;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media all and (min-width: 1150px) {
  .header__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media all and (min-width: 1368px) {
  .header__right:hover {
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    padding: 0.35rem;
  }
}

@media all and (max-width: 1368px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    text-align: right;
  }
}

.header__right--call {
  -webkit-transition: border .5s;
  transition: border .5s;
  margin-right: 1.7rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  width: 7.174rem;
  height: 3.864rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1368px) {
  .header__right--call {
    margin-left: auto;
    margin-right: 0rem;
  }
}

.header__right--call:hover {
  width: 20rem;
}

.header__right--call:hover span {
  visibility: visible;
  width: auto;
  margin-right: 2.8rem;
  -webkit-transition: none;
  transition: none;
}

.header__right--call span {
  display: block;
  width: 0rem;
  visibility: hidden;
  background-color: #ffffff;
  color: #b60000;
  font-family: "Oswald";
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.409rem;
}

.header__right--search {
  background-color: #ffffff;
  border-radius: 0.3rem;
  width: 7.174rem;
  height: 3.864rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1368px) {
  .header__right--search {
    margin-left: auto;
  }
}

@media all and (min-width: 1024px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 768px) {
  .footer__top--right {
    padding-top: 1rem;
  }
}

@media all and (min-width: 768px) {
  .footer__top--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (min-width: 1024px) {
  .footer__top--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media all and (min-width: 768px) {
  .footer__top--right--socical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .footer__top--right--socical div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2rem;
  }
}

@media all and (min-width: 768px) {
  .footer__top--right--socical div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__top--right--socical span {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #686868;
}

.footer__top--right--socical ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.959rem;
}

@media all and (min-width: 768px) {
  .footer__top--right--socical ul {
    padding-left: 1.5rem;
    padding-right: 4.15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__top--right--socical ul li {
  width: 3.2rem;
  width: 3.2rem;
}

.footer__top--right--socical ul li img {
  width: 100%;
}

.footer__top--right--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__top--right--main input {
  height: 4.7rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #ffcbcb;
}

@media all and (min-width: 768px) {
  .footer__top--right--main input {
    width: 40.2rem;
  }
}

@media all and (max-width: 768px) {
  .footer__top--right--main input {
    width: 20.2rem;
  }
}

.footer__top--right--main button {
  background-color: #b60000;
  border: 0.1rem solid #b60000;
  height: 4.7rem;
  width: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
}

.footer__end {
  margin-top: 4.8rem;
  margin-bottom: 3rem;
}

@media all and (min-width: 768px) {
  .footer__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__end--item--title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  color: #b60000;
  line-height: 4rem;
}

.footer__end--item--border {
  width: 2.5rem;
  height: 2.5rem;
  background: linear-gradient(to left, #686868 2px, transparent 2px) 100% 0, linear-gradient(to left, #686868 2px, transparent 2px) 100% 100%, linear-gradient(to bottom, #686868 2px, transparent 2px) 100% 0;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-left: -1rem;
}

.footer__end--item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=app.css.map */